.page{
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.product{
    border: 1px solid #ddd;
    padding: 16px;
    margin: 8px;
    border-radius: 4px;
    width: 40%;
    height: 40%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
.product:hover{
    width: 42%;
    height: 42%;
}
.Add{
    border: none;
    background-color: rgb(26, 100, 26);
    color: #fff;
    font-weight: 800;
    width: 5%;
    border-radius: 50px;
    height: 26px;
}
.Add:hover{
    background-color: #fff;
    color: black;
}
.description{
    padding-left: 20px;
}