.body{
    width: 100%;
    height: 100%;
}
.description{
    width: 99%;
    height: 45%;
    background-color: var(--body_background);
    
    
    
}
.gamingpage{
    width: 100%;
    height: 200px;
    margin: 0;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    display: block;
    border-radius: 5px;
    padding-left: 40px;
    transition: 0.5s;
}
.gamingpage:hover{
    transform: scale(1.1);
    z-index: 1;
}
.link{
    color: var(--link_color);
    margin-top: 50px;
    
}

.page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: var(--body_background);
}