#menu-bar{
  background-color:rgb(16, 64, 16);
  height: 100px;
    top: 0;
    padding: 20px;
    
}
.h1{
  font-size: 50px;
  font-family:italic;
  color: #fff;
  text-align: center;
  justify-content: space-between;
  

}
.h1 span{
  font-size: 30px;
  font-family: italic;
}
